<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Lead Detail</title>
  </head>
  <body>
    <a href="/leads">Go back to all leads</a>
    <h1>This is a details of the lead {{ lead.first_name }}</h1>
    <p>Age is {{ lead.age }}</p>
    <p>Agent responsible for this lead is {{ lead.agent }}</p>
    <a href="/leads/{{ lead.pk }}/update">Update this lead</a>
    <hr />
    <a href="/leads/{{ lead.pk }}/delete">Delete this lead</a>
  </body>
</html>